
.icon-lock:before { content: '\e800'; } /* '' */
.icon-lock-open:before { content: '\e801'; } /* '' */
.icon-vcard:before { content: '\e802'; } /* '' */
.icon-lock-1:before { content: '\e803'; } /* '' */
.icon-lock-filled:before { content: '\e804'; } /* '' */
.icon-lock-open-1:before { content: '\e805'; } /* '' */
.icon-lock-open-filled:before { content: '\e806'; } /* '' */
.icon-lock-2:before { content: '\e807'; } /* '' */
.icon-lock-empty:before { content: '\e808'; } /* '' */
.icon-lock-open-2:before { content: '\e809'; } /* '' */
.icon-lock-open-empty:before { content: '\e80a'; } /* '' */
.icon-key:before { content: '\e80b'; } /* '' */
.icon-key-inv:before { content: '\e80c'; } /* '' */
.icon-lock-3:before { content: '\e80d'; } /* '' */
.icon-lock-open-3:before { content: '\e80e'; } /* '' */
.icon-key-1:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-facebook-3:before { content: '\e811'; } /* '' */
.icon-facebook-1:before { content: '\f052'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-facebook-2:before { content: '\f300'; } /* '' */
.icon-lock-4:before { content: '\f512'; } /* '' */
